
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f6f7fb;
    color: #1d1d25;
}



.auth-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
}


.auth-card {
    width: 100%;
    max-width: 430px;
    background: #ffffff;
    padding: 40px;
    border: 1px solid #e5e5eb;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
}


.auth-logo {
    display: block;
    width: fit-content;
    margin: 0 auto 25px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: #1d1d25;
}

.auth-logo span {
    color: #6c63ff;
}



.auth-card h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

.auth-subtitle {
    text-align: center;
    color: #777782;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
}


.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 7px;
}

.form-group input {
    width: 100%;
    padding: 13px 14px;
    border: 1px solid #dcdde5;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    transition: 0.2s;
}

.form-group input:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 0 3px rgba(108, 99, 255, 0.1);
}


.auth-btn {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 8px;
    background: #6c63ff;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.auth-btn:hover {
    background: #574fe8;
}


.auth-message {
    min-height: 20px;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
}


.auth-switch {
    margin-top: 22px;
    text-align: center;
    font-size: 14px;
    color: #777782;
}

.auth-switch a {
    color: #6c63ff;
    text-decoration: none;
    font-weight: 600;
}

.auth-switch a:hover {
    text-decoration: underline;
}

/* Mobile */
@media (max-width: 500px) {

    .auth-card {
        padding: 30px 22px;
    }

    .auth-card h1 {
        font-size: 24px;
    }
}